tr.space > td{
	padding-bottom: 1em;
}
p.space {
	padding-bottom: 1.5em;
}
p.space3 {
	padding-bottom: 6em;
}

.v1{
	width: 200px;
	height: 135px;
	background: white;
	border: 1.5px solid #000000;
	position: relative;
	left: 88px;	
}
.c1expr{
	position: absolute;
	left: 10px;
	font-size: 16px;
	color: blue;
	display: none;
}
.v2{
	width: 200px;
	height: 190px;
	background: white;
	border: 1.5px solid #000000;
	position: relative;
	top: 60px;
	left: 88px;
	overflow: hidden;
}
.c2expr{
	position: absolute;
	left: 10px;
	font-size: 16px;
	color: blue;
	display: none;
}
.wrapper{
	width: 240px;
	height: 50px;
	position: relative;
	top: -320px;
	left: 310px;
	overflow: hidden;
}
.wrapper2{
	width: 240px;
	height: 50px;
	position: relative;
	top: -130px;
	left: 310px;
	overflow: hidden;
}
.labels1{
	width: 20px;
	height: 20px;
	position: relative;
}
.labels2{
	width: 20px;
	height: 20px;
	position: relative;
}

#conj{
	float: left
}
#disj{
	float: right;
}
#neg{
	float: center;
}
#c{
	position: relative;
	top: 150px;
	left: -150px;
}
#d{
	position: relative;
	top: 120px;
	left: 150px;
}