
#next{
	position: absolute;
	left: 540px;
	top: 850px;
}
#back{
	position: absolute;
	left: 40px;
	top: 850px;
}
.v1{
	width: 200px;
	height: 135px;
	background: white;
	border: 1.5px solid #000000;
	position: absolute;
	left: 60px;
	top: 460px;
	
}
.v2{
	width: 200px;
	height: 135px;
	background: white;
	border: 1.5px solid #000000;
	position: absolute;
	left: 350px;
	top: 460px;
	
}
.v3{
	width: 200px;
	height: 135px;
	background: white;
	border: 1.5px solid #000000;
	position: absolute;
	left: 210px;
	top: 670px;
	
}
#div1{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 230px;
	top: 424px;
	font-size: 150%;
}
#div2{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 35px;
	top: 480px;
	font-size: 150%;
}
#div3{
	width: 40px;
	height: 20px;
	background: transparent;
	position: absolute;
	left: 100px;
	top: 600px;
	font-size: 150%;
}
#div4{
	width: 70px;
	height: 20px;
	background: #00cc00;
	position: absolute;
	left: 200px;
	top: 440px;
	-moz-border-radius: 100px/50px;
	-webkit-border-radius: 100px/50px;
	border-radius: 100px/50px;
}
#div4 p{
	font-size: 150%;
	font-family: Lucida Console;
	left: 3px;
	position: relative;
}

#div5{
	width: 40px;
	height: 20px;
	background: transparent;
	position: absolute;
	left: 150px;
	top: 600px;
	font-size: 150%;
}
#div6{
	width: 40px;
	height: 20px;
	background: transparent;
	position: absolute;
	left: 270px;
	top: 500px;
	font-size: 150%;
}
#div7{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 560px;
	top: 460px;
	font-size: 150%;
}
#div10{
	width: 70px;
	height: 20px;
	background: #00cc00;
	position: absolute;
	left: 500px;
	top: 440px;
	-moz-border-radius: 100px/50px;
	-webkit-border-radius: 100px/50px;
	border-radius: 100px/50px;
}
#div10 p{
	font-size: 150%;
	font-family: Lucida Console;
	left: 3px;
	position: relative;
}
#div9{
	width: 40px;
	height: 20px;
	background: transparent;
	position: absolute;
	left: 440px;
	top: 600px;
	font-size: 150%;
}
#div8{
	width: 40px;
	height: 20px;
	background: transparent;
	position: absolute;
	left: 490px;
	top: 600px;
	font-size: 150%;
}

#div11{
	width: 40px;
	height: 20px;
	background: transparent;
	position: absolute;
	left: 560px;
	top: 550px;
	font-size: 150%;
}
#div12{
	width: 40px;
	height: 20px;
	background: transparent;
	position: absolute;
	left: 320px;
	top: 550px;
	font-size: 150%;
}
#div13{
	width: 40px;
	height: 20px;
	background: transparent;
	position: absolute;
	left: 180px;
	top: 680px;
	font-size: 150%;
}
#div17{
	width: 58px;
	height: 25px;
	background: #00cc00;
	position: absolute;
	left: 470px;
	top: 700px;
	-moz-border-radius: 100px/50px;
	-webkit-border-radius: 100px/50px;
	border-radius: 100px/50px;
}
#div17 p{
	font-size: 150%;
	font-family: Lucida Console;
	left: 3px;
	top: 4px;
	position: relative;
}
#div14{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 340px;
	top: 810px;
	font-size: 150%;
}
#div15{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 380px;
	top: 640px;
	font-size: 150%;
}
#div16{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 180px;
	top: 740px;
	font-size: 150%;
}
#div18{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 420px;
	top: 740px;
	font-size: 150%;
}
#div19{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 420px;
	top: 700px;
	font-size: 150%;
}
#hint, #hint2, #hint3, #hint4, #hint5, #hint6, #hint7{
	position: absolute;
	left: 280px;
	top: 510px;
}
tr.space > td{
	padding-bottom: 1em;

}
