#next{
	position: absolute;
	left: 540px;
	top: 850px;
}
#back{
	position: absolute;
	left: 40px;
	top: 850px;
}

#div1{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 230px;
	top: 420px;
	font-size: 150%;
}
#div2{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 35px;
	top: 480px;
	font-size: 150%;
}
#div3{
	width: 70px;
	height: 20px;
	background: #00cc00;
	position: absolute;
	left: 200px;
	top: 420px;
	-moz-border-radius: 100px/50px;
	-webkit-border-radius: 100px/50px;
	border-radius: 100px/50px;
}
#div3 p{
	font-size: 150%;
	font-family: Lucida Console;
	left: 3px;
	position: relative;
}
#div4{
	width: 40px;
	height: 20px;
	background: transparent;
	position: absolute;
	left: 270px;
	top: 530px;
	font-size: 150%;
}
#div5{
	width: 40px;
	height: 20px;
	background: transparent;
	position: absolute;
	left: 100px;
	top: 630px;
	font-size: 150%;
}
#div6{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 400px;
	top: 420px;
	font-size: 150%;
}
#div7{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 560px;
	top: 460px;
	font-size: 150%;
}
#div8{
	width: 70px;
	height: 20px;
	background: #00cc00;
	position: absolute;
	left: 500px;
	top: 420px;
	-moz-border-radius: 100px/50px;
	-webkit-border-radius: 100px/50px;
	border-radius: 100px/50px;
}
#div8 p{
	font-size: 150%;
	font-family: Lucida Console;
	left: 3px;
	position: relative;
}
#div9{
	width: 40px;
	height: 20px;
	background: transparent;
	position: absolute;
	left: 560px;
	top: 520px;
	font-size: 150%;
}
#div10{
	width: 40px;
	height: 20px;
	background: transparent;
	position: absolute;
	left: 560px;
	top: 600px;
	font-size: 150%;
}
#div11{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 320px;
	top: 600px;
	font-size: 150%;
}
#div12{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 450px;
	top: 635px;
	font-size: 150%;
}
#div13{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 180px;
	top: 680px;
	font-size: 150%;
}
#div14{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 180px;
	top: 720px;
	font-size: 150%;
}
#div15{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 420px;
	top: 680px;
	font-size: 150%;
}
#div16{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 420px;
	top: 720px;
	font-size: 150%;
}
#div17{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 420px;
	top: 820px;
	font-size: 150%;
}
#div18{
	width: 58px;
	height: 25px;
	background: #00cc00;
	position: absolute;
	left: 470px;
	top: 700px;
	-moz-border-radius: 100px/50px;
	-webkit-border-radius: 100px/50px;
	border-radius: 100px/50px;
}
#div18 p{
	font-size: 150%;
	font-family: Lucida Console;
	left: 3px;
	top: 4px;
	position: relative;
}
#div19{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 180px;
	top: 780px;
	font-size: 150%;
}
#div20{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 420px;
	top: 780px;
	font-size: 150%;
}
#div21{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 270px;
	top: 440px;
	font-size: 150%;
}
#div22{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 270px;
	top: 500px;
	font-size: 150%;
}
#div23{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 35px;
	top: 580px;
	font-size: 150%;
}
#div24{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 270px;
	top: 590px;
	font-size: 150%;
}
#div25{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 180px;
	top: 840px;
	font-size: 150%;
}
#div26{
	width: 10px;
	height: 10px;
	background: transparent;
	position: absolute;
	left: 180px;
	top: 810px;
	font-size: 150%;
}

#hint, #hint2, #hint3, #hint4, #hint5{
	position: absolute;
	left: 280px;
	top: 510px;
}


.v1{
	width: 200px;
	height: 190px;
	background: white;
	border: 1.5px solid #000000;
	position: absolute;
	left: 60px;
	top: 440px;
}
.v2{
	width: 200px;
	height: 190px;
	background: white;
	border: 1.5px solid #000000;
	position: absolute;
	left: 350px;
	top: 440px;
	
}
.v3{
	width: 200px;
	height: 190px;
	background: white;
	border: 1.5px solid #000000;
	position: absolute;
	left: 210px;
	top: 670px;
	
}

#vSVG, #vSVG2, #vSVG3, #vSVG4, #vSVG5, #vSVG6, #vSVG7, #vSVG8, #vSVG9, #vSVG10, #vSVG11, 
#vSVG12, #vSVG13, #vSVG14, #vSVG15, #vSVG16, #vSVG17, #vSVG18{
  width: 250px;
  height: 200px;
}
